code {
  background-color: LightGrey;
}

 /* unvisited link */
p a:link {
  color: OrangeRed;
}

/* visited link */
p a:visited {
  color: Tomato;
}

.sidebar1 {
    width: 25%
}

.sidebar2 {
    width: 25%
}

.sidebar3 {
    width: 25%
}

main {
    width: calc(75% - 2px)
}

.wrapper {
    max-width: 1366px
}

.document-header {
    max-width: 1366px
}

.document-footer {
    max-width: 1366px
}

.more-link:after {
    margin-left: 5px;
}

@media only screen and (max-width: 956px) {
    main,
    .sidebar1,
    .sidebar2,
    .sidebar3 {
        width: 100%
    }
    .two-column.content-right main,
    .three-column.content-center main,
    .three-column.content-right main,
    .four-column.content-left main,
    .four-column.content-right main,
    .four-column.content-far-right main {
        -moz-order: 1;
        -ms-order: 1;
        -o-order: 1;
        -webkit-order: 1;
        order: 1
    }
    .banner nav {
        background: none
    }
    .banner nav:before {
        display: block;
        visibility: visible
    }
    .banner nav ul {
        display: none;
        visibility: hidden
    }
    .banner nav select {
        display: block;
        visibility: visible;
        width: 100%
    }
}

nav.pagination .current {
    color: #000000;
}

.post-content h2 {
    border-left: 6px solid #ff6347;
    border-bottom: 1px solid #d1d1d1;
    padding-left: 4px;
}

.post-content h3 {
    border-left: 4px solid #4169e1;
    border-bottom: 1px solid #d1d1d1;
    padding-left: 6px;
}

.post-content h4 {
    padding-left: 0px;
}

div.breadcrumbs {
    font-size: 80%;
    padding: 20px 0 0 20px;
    margin: 0 0 -10px 0;
}

th,
td {
    padding-top: 0.1rem;
    padding-right: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.1rem;
}

h1 {
    font-size: 1.5em;
}

iframe {
    vertical-align: bottom;
}

@media screen and (max-width: 40em) {
    div .nav-previous {
        display: none;
    }
    div .nav-next {
        display: none;
    }
}
