 {{ define "main" }}

<main role="main">
    <article role="article" class="post type-post format-standard hentry">
        <header class="post-header">
            <h1>{{ .Title }}</h1>
            <div class="post-details">
                <a rel="bookmark">
                    <time datetime="{{ .Date.Format "2006-01-02T12:34:56" }}">{{ .Date.Format "2006-01-02" }}</time>
                </a>
				{{- if ne .Date .Lastmod }}
				<a rel="bookmark">
					<time datetime="{{ .Lastmod.Format "2006-01-02T12:34:56" }}">(Last Modified: {{.Lastmod.Format ( .Site.Params.dateformat | default "2006-01-02")}})</time>
				</a>
                {{- end }}
            </div>
        </header>

        <div class="post-content">
            {{ .Content }}
        </div>



        <footer class="post-footer">
                {{ $categories := .Params.categories }}
                {{ $all_categories := .Site.Taxonomies.categories }}
                {{ with $categories }}
                <span class="post-categories">
                    {{- range $all_categories -}}
                        {{ if in $categories .Page.Title }}
                        <a href="{{- .Page.Permalink -}}">{{ .Page.Title }}</a>&emsp;
                        {{ end }}
                    {{- end }}
                </span>
                {{ end }}
        
                {{ $tags := .Params.tags }}
                {{ $all_tags := .Site.Taxonomies.tags }}
                {{ with $tags }}
                <span class="post-tags">
                    {{- range $all_tags -}}
                        {{ if in $tags .Page.Title }}
                        <a href="{{- .Page.Permalink -}}">{{ .Page.Title }}</a>&emsp;
                        {{ end }}
                    {{- end }}
                </span>
                {{ end }}
        </footer>
        {{ partial "ad_double_rectangle.html" . }}
        {{ partial "relatedposts.html" . }}
    </article>

    {{ if eq .Page.Type "post" }}
    <nav class="navigation post-navigation" role="navigation">
        <div class="nav-links">
            <div class="nav-previous">
                {{ with .PrevInSection }}
                <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
                {{ end }}
            </div>
            <div class="nav-next">
                {{ with .NextInSection }}
                <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
                {{ end }}
            </div>
        </div>
    </nav>
    <section>
        {{ template "_internal/disqus.html" . }}
    </section>
    {{ end }}

</main>

{{ end }}
